@import '../../Global_SCSS/resets';
@import '../../Global_SCSS/functions';
@import '../../Global_SCSS/variables';
@import '../../Global_SCSS/media-query';

$primary-color: #003865;
$secondary-color: #652500;
$tertiary-color: #655800;

.grid-container {
  margin: 0 5px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "sign-up"
    "main"
    "footer";
}

@import 'header';

@import 'main';

@import 'footer';

@import 'responsive';